#app {
  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";
  display: grid;
  grid-template-columns: 240px 1fr 280px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 0 10px;
  height: 100vh;
}

.content {
  grid-area: content;
  padding: 0 2rem 3rem 2rem;
 
  ul {
    padding-left: 1rem;

    li {
      list-style-type: '&#10003;';
    }
  }
}

footer {
  grid-area: footer;
  background-color: darken(@color-01, 25%);
  height: 150px;
}